/* tag selector */
/* body {
    background-color: rgb(230, 232, 168);
} */

h2 {
    color: red;
}

p {
    color: green;
}

/* id selector */
#head-2 {
    color: yellow;
    font-size: 30px;
}

/* class selector */
.theme-font {
    color: navy;
    text-align: center;
}