/* tag selector */
/* body {
    background-color: rgb(230, 232, 168);
} */

h2 {
    color: red;
}

/* p {
    color: green;
} */

/* id selector */
#head-2 {
    color: yellow;
    font-size: 30px;
}

/* class selector */
.theme-font {
    color: navy;
    text-align: center;
}
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
p {
    font-family: "IBM Plex Mono", monospace;
    line-height: 1.6;
}
.box-image-1 {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.box-image-2 {
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.box-model {
    border: 2px solid black;
    padding: 10px 25px 10px 25px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    background-color: lightgray;
}
.box-content {
    color: black
}